body {
    text-align: center;
}
.container {
    margin-top: 1%;
}
.row {
    border: 1px solid lightgray;
    border-radius: 8px;
}
#col-controls, #col-preview {
    padding: 2%;
}
#col-controls {
    border-left: 1px solid lightgray;
}
#preview, #preview-rect-reset {
    padding-bottom: 7%;
}
.err {
    color: red;
}
.btn {
    width: 100%;
}
#scan button {
    margin-bottom: 3%;
}
#scan select {
    margin-bottom: 3%;
}
#preview-rect, .preview-rect-overlay {
    position: absolute;
}
#preview-rect {
    border: 3px dashed #000;
}
.preview-rect-overlay {
    background: rgba(0, 0, 0, .5);
}
#preview-img, #preview-rect, .preview-rect-overlay {
    touch-action: none;
}
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}