body {
    text-align: center;
}
#col-preview img {
    height: 100%;
}
.row {
    border: 1px solid lightgray;
    border-radius: 8px;
}
#col-controls, #col-preview {
    padding: 2%;
}
#col-controls {
    border-left: 1px solid lightgray;
}
.container {
    margin-top: 1%;
}
.btn {
    width: 100%;
}
#preview {
    padding-bottom: 7%;
}
#scan select {
    margin-bottom: 3%;
}
.err {
    color: red;
}
#scan button {
    margin-bottom: 3%;
}